.wp-block {
  max-width: 600px;
}

// Width of "wide" blocks
.wp-block[data-align="wide"] {
  max-width: 1080px;
}

// Width of "full-wide" blocks
.wp-block[data-align="full"] {
  max-width: none;
}

.editor-post-title__block,
.wp-block-heading,
.wp-block-paragraph {
  font-size: 20px;
  font-family: Arial;
}
